{% extends 'base.html' %}
{% block title %}
CONTACT
{% endblock title %}
{% block contactactive %}active
{% endblock contactactive %}

{% block body %}
<div class="container mt-5" style="width:70%;">
  <form action="/contact" method ="post" style="font-family: 'El Messiri', sans-serif; font-weight:400; font-size: 20px;">
    {% csrf_token %}
    <h3>CONTACT US</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" type="text" class="form-control" placeholder="Enter your full name." id="name" aria-describedby="name">
      
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" type="email" class="form-control" placeholder="Enter your Email" id="email" aria-describedby="email">
      
    </div>
    <div class="form-group">
      <label for="phonenumber">Phone Number</label>
      <input name="phonenumber" type="phonenumber" class="form-control" placeholder="Enter your Phone Number" id="phonenumber" aria-describedby="email">
      
    </div>
   <div class="form-group">
      <label for="content">Drop a text for us.</label>
      <textarea type="text" class="form-control" cols="30" rows="5" id="content" name="content" aria-describedby="content">
      </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}